<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TodoAcordeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Servicio de monitorización de la app -->
        <service
            android:name=".AppMonitorService"
            android:enabled="true"
            android:exported="true" />

        <!-- Si tienes otros servicios reales, añádelos aquí: -->
        <!--
        <service
            android:name=".OtroServicio"
            android:enabled="true"
            android:exported="false" />
        -->

        <!-- Actividad principal -->
        <activity
            android:name=".MainContainerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ejemplo de Activity heredando AppCompat si la necesitas -->
        <!--
        <activity
            android:name=".LegacyActivity"
            android:theme="@style/AppTheme.AppCompat"
            android:exported="false" />
        -->



    </application>




</manifest>
